/* navbar css */

.navbar {
    width: 100vw;
    position: fixed;
    align-items: center;
    z-index: 99999;
    user-select: none;
}

.navbar--task {
    background-color: white;
    height: 6.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.navbar__menu {
    height: 6.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__menu--list {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    height: fit-content;
}

.navbar__menu--item {
    padding-left: 2rem;
    padding-right: 2rem;
    height: fit-content;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__menu--item:last-child {
    border: none;
}

.navbar__menu--item-link {
    line-height: 1.6rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.6rem;
}   

.navbar__menu--item-link:hover {
    color: red;
    margin-top: -2px;
    font-size: 1.8rem;
}

/* content css */
/** home */

.content {
    width: 100%;
}

.content__home {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/bg/bg.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.content__home__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    text-align: center;
    line-height: 55px;
    text-wrap: wrap;
    font-weight: 700;
    color: beige;
    text-shadow: 0px 0px 10px black;
    background-image: linear-gradient(white, white, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, white, white, white, white, white);
}