.content__home__source {
    color: grey;
    position: absolute;
    right: 8px;
    bottom: 4px;
    font-size: 2.4vh;
}

@media (min-aspect-ratio: 1/1) {

    /* navbar css */

    .navbar {
        width: 100%;
        position: fixed;
        align-items: center;
        z-index: 99999;
        user-select: none;
    }

    .navbar--task {
        background-color: white;
        height: 10vh;
        margin: 0;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    .navbar__menu {
        height: 10vh;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .navbar__menu--list {
        display: flex;
        margin: 0;
        list-style-type: none;
        padding: 0;
        height: fit-content;
    }

    .navbar__menu--item {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        height: fit-content;
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .navbar__menu--item:last-child {
        border: none;
    }

    .navbar__menu--item-link {
        line-height: 2.5vh;
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 2.5vh;
    }

    .navbar__menu--item-link:hover {
        color: darkgray;
        /* margin-top: -2px;
    font-size: 1.8rem; */
    }

    /* content css */
    /** home */

    .content {
        width: 100%;
    }

    .content__home {
        width: 100%;
        height: 100vh;
        background-image: url(/assets/bg/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-content: center;
        justify-items: center;
    }

    .content__home__title {
        background-color: rgba(255, 255, 255, .2);
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        font-size: 3.6vw;
        text-align: center;
        line-height: 3.8vw;
        text-wrap: wrap;
        font-weight: 700;
        color: beige;
        text-shadow: 0px 0px 10px black;
        background-image: linear-gradient(white, white, white, white, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, white, white);
    }



    .content__summary {
        padding-top: 12vh;
        padding-bottom: 2vh;
        padding-left: 4vh;
        padding-right: 4vh;
        height: 100vh;
        width: 100%;
    }

    .content__summary__para-list {
        display: flex;
        text-wrap: wrap;
        justify-content: space-around;
    }

    .content__summary__para {
        border-radius: 2vw;
        padding: 2vw;
        width: 30vw;
        height: fit-content;
        text-wrap: wrap;
        font-size: 4vh;
        line-height: 4vh;
    }

    .content__summary__para:first-child {
        background-color: lightcoral;
    }

    .content__summary__para:nth-child(2) {
        background-color: lightgreen;
    }

    .content__summary__para:last-child {
        background-color: lightskyblue;
    }

    .content__summary__keywords-list {
        height: 55vh;
        padding: 1rem;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }

    .conten__summary__keyword {
        text-align: center;
        align-content: center;  
        width: 20vw;
        height: 16vw;
        border-radius: 50%;
        background-color: #FDFD96;
        font-size: 1.4vw;
        line-height: 1.4vw;
        text-wrap: wrap;
    }
    
    .conten__summary__keyword:nth-child(2) {
        margin-top: 18vh;
    }

    .conten__summary__keyword:nth-child(4) {
        margin-top: 18vh;
    }
}